# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts


# Hardhat
coverage
coverage.json
typechain
typechain-types
contracts/hardhat/cache
contracts/hardhat/artifacts

lcov.info

# TheGraph
subgraph/build
subgraph/generated
subgraph/local-node/data

# Foundry (TOCONTINUE)
# Compiler files
contracts/foundry/cache/
contracts/foundry/out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Dotenv file
.env


secrets.json

yarn.lock

/frontend/.next
frontend/.next