@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    /* Default mouse position for all cards. This allows showing cards colored even before hydration. */
    --mouse-x: -1000px;
    --mouse-y: -1000px;
  }

  * {
    /* Accessibility - Apply focus ring */
    @apply relative focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:opacity-50 disabled:cursor-not-allowed transition-colors !duration-300;
  }

  body {
    /* Style - Apply default font, text color and background */
    @apply relative font-body text-fg bg-bg transition-colors !duration-300;
  }
}
