@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  * {
    /* Accessibility - Apply focus ring */
    @apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:opacity-50 disabled:pointer-events-none transition-colors !duration-300;
  }

  body {
    /* Style - Apply default font, text color and background */
    @apply font-body text-fg bg-bg transition-colors !duration-300;
  }
}
