@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  html {
    scroll-behavior: smooth;
    /* Default mouse position for all cards. This allows showing cards colored even before hydration. */
    --mouse-x: -1000px;
    --mouse-y: -1000px;
    --circle-size: 100px;
    --circle-intensity: 0.15;
  }

  * {
    /* Accessibility - Apply focus ring */
    @apply relative transition-[color,background-color,border-color,text-decoration-color,fill,stroke,opacity] !duration-300 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50;
  }

  body {
    /* Style - Apply default font, text color and background */
    @apply relative bg-bg font-body text-fg transition-[color,background-color,border-color,text-decoration-color,fill,stroke,opacity] !duration-300;
  }
}

.dark-neon {
  width: 100vw;
  height: 400px;
  margin-bottom: -400px;
  pointer-events: none;
  user-select: none;
  mask-image: radial-gradient(100% 50% at center, black, transparent);
  background-image: conic-gradient(
      from 90deg at 70% 60%,
      rgb(var(--bg)),
      theme("colors.indigo.400")
    ),
    conic-gradient(
      from 270deg at 30% 60%,
      theme("colors.indigo.400"),
      rgb(var(--bg))
    );
  background-attachment: scroll, scroll;
  background-origin: padding-box, padding-box;
  background-clip: border-box, border-box;
  background-position:
    1% 0%,
    99% 0%;
  background-size:
    50% 100%,
    50% 100%;
  background-repeat: no-repeat;
  opacity: 0.5;
  transform: translateY(-200px) rotate(180deg) translateZ(0px);
  transform-origin: center center 0px;
}
