name: CI/CD
on:
  push:
    branches:
      - main

jobs:
  release:
    name: Release & Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "lts/*"

      - name: Install PNPM
        uses: pnpm/action-setup@v2
        with:
          version: latest
          run_install: false

      - name: Get PNPM store directory
        id: pnpm-cache
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path)" >> $GITHUB_OUTPUT

      - name: Setup PNPM cache
        uses: actions/cache@v3
        with:
          path: ${{ steps.pnpm-cache.outputs.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Install dependencies
        run: pnpm install

      - name: Run Semantic Release
        id: semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          res=$(npx semantic-release | { tail -n 1 | grep -q "There are no relevant changes" && echo 0 || echo 1; })
          echo "NEW_RELEASE=$res" >> $GITHUB_OUTPUT

      # Vercel deploy is triggered manually here to:
      # - ensure it only runs when app code has changed (feat, fix, perf)
      # - ensure it runs after Semantic Release and so has access to latest sources
      - name: Trigger Vercel update
        env:
          NEW_RELEASE: ${{ steps.semantic-release.outputs.NEW_RELEASE }}
        run: |
          if [ $NEW_RELEASE -eq 1 ]; then
            # If changes are not on hardhat related stuff
            #if git diff --quiet HEAD^ HEAD -- . ':!hardhat' ':!hardhat.config.ts'; then
              curl --fail -X POST ${{ secrets.VERCEL_DEPLOY_HOOK }} || exit 1
            #fi
          else
            echo "No new release, pass."
          fi
